.MagicContentCell {
    background: none;
    padding-top: 0px;
}
.MagicNavTab {
    display: none;
}
#UserSubHeaderRow {
    display: none;
}
#MainHeaderTable {
    height: 130;
    /* Make the grey gradient smaller during process */
    background-image: linear-gradient(#fefefe 0, #e6e7e8 80%,#FFF 20%);
}
#lnnContentCell {
    margin: 0px 40px 20px 40px;
    padding: 20px;
    border-radius: 8px ;
    -moz-border-radius: 8px ;
    -webkit-border-radius: 8px ;
    background: #FFF;
    box-shadow: 3px 3px 5px 3px rgba(105,105,105,0.6);
    -webkit-box-shadow: 3px 3px 5px 3px rgba(105,105,105,0.6);
    -moz-box-shadow: 3px 3px 5px 3px rgba(105,105,105,0.6);
    -webkit-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
    display: flex;
}

.lnn-info-content {
    width: 384px;
    margin-left: 20px;
    margin-top: 20px;
}
/* The following two SHOULD be defaults */
.lnn-info-content h2 {
    font-size: 2.5em;
}
.lnn-info-content h4,
#lnn-fmm-table h4 {
    color: #10456B;
    font-size: 1.4em;
    font-weight: bold;
}
#lnn-fmm-table h4 {
    text-align:center;
}
.lnn-info-content .main_wiz {
    color: #000;
    opacity: 0.7;
}
#lnn-fmm-wrapper {
    margin-right: 20px;
    margin-top: 20px;
    width: 350px;
    box-shadow: 3px 3px 5px 3px rgba(105,105,105,0.6);
    -webkit-box-shadow: 3px 3px 5px 3px rgba(105,105,105,0.6);
    -moz-box-shadow: 3px 3px 5px 3px rgba(105,105,105,0.6);
    -webkit-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
    margin-left: 100px;
    padding-bottom: 30px;
}
#lnn-fmm-table {
    border: collapse;
    border-spacing: 0;
    width: 80%;
    border: 0px;
    margin: 0 auto;
}
#lnn-fmm-table th {
    border: 0px 0px 0px 2px solid darkgrey;
    background: none;
    padding-top: 20px;
    padding-bottom: 10px;
}
#lnn-fmm-table td {
    display: block;
    text-align: left;
}
#lnn-fmm-table tr td:first-child {
    padding-top: 20px;
}
#lnn-fmm-table tr td:nth-child(2) {
    padding-top: 5px;
}
#lnn-fmm-table tr:last-child {
    text-align: right;
}
#lnn-fmm-table label {
    font-size: .9em;
}
#lnn-fmm-table td.textright {
    color: #000;
    opacity: 0.7;
}
#lnn-fmm-table input {
    padding: 0px;
    margin: 0px;
    font-size: 1.3em;
    line-height: 1.4em;
}
#lnn-fmm-table input[type="submit"] {
    text-align: right;
    float: right;
    border: 1px outset #10456B;
    background: lightgrey;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
}
/* Way to position to the adtrack insider the header */
.adtrack-user-spot-a {
    position: absolute;
    top: 50px;
    left: 380px;

}
/* Legacy id's from themes, are we to deprecate? */
/* Also could be from landing.php as well */
#rvv-pss-td a {
    display: inline-block;
    padding-bottom: 5px;
    text-decoration: none;
}

#login-error {
    display: none;
    position:absolute;
    width:148px;
    margin-top:4px;
    font-weight:bold;
}

/* Login Page */
#LoginWrapper {
    margin: auto;
    width: 620px;
}

#LoginInfo {
    float: left;
    width: 400px;
    text-align: left;
    font-size: 14px;
    margin: 0;
}
#LoginInfo p {
    margin-top: 8px;
}

.LoginBody {
    background: #fff url('../pics/background2.gif') repeat-x 0 0;
}
.LoginBody a {
    text-decoration: none;
}

.LoginBody #PoweredBadge {
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

#lnn-fmm-table td.formFoot tr td {
    display: table-cell;
    padding-top: 0px;
    vertical-align: middle;
}

/* There is some whitespace in the powered by image. Move it left so that the */
/* actual image is in line with everything else */
#lnn-fmm-table tr td.poweredBy img {
    margin-left: -6px;
}

#lnn-fmm-table tr td.formFoot {
    padding-top: 0px;
}

#lnn-fmm-table tr td.formFoot table {
    width: 100%;
}

.LoginBody #Login {
    padding: 5px 15px 0;
}

#Login {
    width: 180px;
    padding: 5px 15px 35px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border-top: 2px solid #ededed;
    border-left: 2px solid #ededed;
    border-right: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    background: #dedede;
    margin-top: 50px;
    float: left;
}

#Login a:hover {
    border:none;
}

#LoginHeader h3 {
    margin-bottom: 10px;
    color: #10456B;
}

#lnn-fmm-table input[type="text"],
#lnn-fmm-table input[type="email"],
#lnn-fmm-table input[type="password"] {
    border-top: 2px solid #cdcdcd;
    border-left: 2px solid #cdcdcd;
    border-bottom: 2px solid #ededed;
    border-right: 2px solid #ededed;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 2px;
    height: 1.5em;
    width: 100%;
}

#lnn-fmm-table .show-pss label {
	display: block;
	font-size: .8em;
    margin-top: 10px;
}


#lnn-fmm-table .show-pss input[type="checkbox"] {
	vertical-align: bottom;
  	position: relative;
	font-size: .8em;
}

/* IE 10+ Detection (including MS Edge) */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

    #lnn-fmm-table input[type="email"],
    #lnn-fmm-table input[type="password"] {
        margin-top: 10px;
    }
}

#lnn-fmm-table input[type="email"]:focus,
#lnn-fmm-table input[type="password"]:focus {
    background:#ffedde;
}

/* For backward compatability let's hide this row
.frgg-pss-row {
    display: none;
}
*/


.login-modal-input {
    display: flex;
    align-items: end;
    font-size: 15px;
    margin: 10px 0 20px;
}

.login-modal-input input[type=checkbox]{
    flex: none;
    width: 25px;
    height: 25px;
} 

#login-modal-buttons {
    display: flex;
    justify-content: space-around;
}

#login-modal-buttons input {
    height: 50px;
}

